---
import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = async () => {
  const apiUrl = `${import.meta.env.PUBLIC_API_URL}/products`;
  const response = await fetch(apiUrl);
  const data = await response.json();
  const formatData = (product) => {
    return {
      ...product,
      imageUrl: `${
        import.meta.env.PUBLIC_CLOUDINARY_BASE_URL
      }/v1680120548/GuitarLA/${product.url}.jpg`,
    };
  };
  return data.map((product) => ({
    params: { id: product.id.toLowerCase() },
    props: { product: formatData(product) },
  }));
};

const { id, description, price, title, imageUrl } = Astro.props.product;
let selectedQuantity;
let selectedProduct;

const handleChange = (e) => {
  selectedQuantity = +e.target.value;
};

const handleSubmit = (e) => {
  e.preventDefault();
  selectedProduct = {
    id,
    title,
    imageUrl,
    quantity: selectedQuantity,
    price,
  };
  //addToCart(selectedProduct);
};
---

<Layout title={title} description="Tienda de Instrumentos musicales">
  <main class="guitarra">
    <img class="imagen" src={imageUrl} alt={`Imagen de la guitarra ${title}`} />

    <div class="contenido">
      <h3>{title}</h3>
      <p class="texto">{description}</p>
      <p class="precio">$ {price}</p>

      <form onsubmit={handleSubmit} class="formulario">
        <label for="cantidad">Cantidad</label>
        <select name="cantidad" id="cantidad" onchange={handleChange}>
          <option value="">--Seleccione--</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <input type="submit" value="Agregar al carrito" />
      </form>
    </div>
  </main>
</Layout>

<style>
  .guitarra {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 1rem;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
  }
  .contenido {
    padding: 1rem;
  }
  .contenido h3 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--primary);
  }
  .descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
  }
  .precio {
    color: var(--primary);
    font-size: 4rem;
    margin: 0;
    font-weight: 900;
  }
  .formulario {
    margin-top: 4rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .formulario label {
    font-size: 2.2rem;
  }
  .formulario select {
    border: 1px solid var(--black);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
  }
  .formulario input[type="submit"] {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    padding: 1.4rem;
    background-color: var(--black);
    color: var(--white);
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .formulario input[type="submit"]:hover {
    background-color: var(--primary);
    cursor: pointer;
  }
</style>
