---
export interface Post {
  id: string;
  title: string;
  timestamp: string;
  content: string;
  imageUrl: string;
}
export interface Props {
  data: Post;
}
const { data } = Astro.props;
const { id, title, imageUrl, timestamp, content } = data;

const formatDate = (date) => {
  const newDate = new Date(date);

  const options = {
    year: "numeric",
    month: "long",
    day: "2-digit",
  };
  return newDate.toLocaleDateString("es-ES", options);
};
---

<article class="post">
  <img class="imagen" src={imageUrl} alt={`imagen blog ${title}`} />
  <div class="contenido">
    <h3>{title}</h3>
    <p class="fecha">{formatDate(timestamp)}</p>
    <p class="resumen">{content}</p>

    <a class="enlace" href={`/blog/${id.toLowerCase()}`}> Leer Post</a>
  </div>
</article>

<style>
  .post {
    max-width: 80rem;
    margin: 0 auto;
  }
  .contenido {
    padding: 1.5rem;
  }
  .contenido h3 {
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0;
  }
  .fecha {
    font-size: 1.6rem;
    color: var(--primary);
  }
  .resumen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
  .texto {
    white-space: pre-wrap;
  }

  .mt-3 {
    margin-top: 3rem;
  }
  .enlace {
    margin-top: 2rem;
    display: block;
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
  }
  .enlace:hover {
    background-color: var(--primary);
  }
</style>
